.top-margin {
    margin-top: 20px;
}

#video-player {
    width: 100%;
}

.question-list {
    border: 1px solid black;
}

.watch-page {
    height: 100%;
}

html, body, #root, .app {
    height: 100%;
}